* {
    box-sizing: border-box;
    margin: 0px;
}

.Elec-container{
    margin-top: 12vh;
    margin-bottom: 10vh;
}
.sec-proc {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    margin-right:50px;
}
.product_img {
    border: 2px solid black;
    height: 35vh;
}
