* {
    box-sizing: border-box;
    margin: 0px;
}

#nav_sec {
    overflow: hidden;
    background-color:#1A1F36 ;
    
}

.nav-sub {
    background-color: black;
    border: 3px solid black;
}

.title {
    font-size: 20px;
    color: white;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar {
    border-radius: 50px;
    height: 30px;
}
