.gallery {
    border: 3px solid black;
    border-radius: 5px;
    width: 900px;
    display: flex;
    overflow: scroll;
    background-color: #1A1F36;
}

.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.gallery div img{
    height: 300px;
    width: 100%;
    border: 2px solid black;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.5s;
}

.gallery::-webkit-scrollbar{
    display: none;
}

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4% auto;
}

.gallery div img:hover {
    cursor: pointer;
    transform: scale(1.1)
}

#nextarrow {
    height:150px;
}

#backarrow {
    height: 150px;
}